@inherits ComponentBase

<Div Flex="Flex.Column" Width="Width.Px(300)" Position="Position.Relative" Gap="Gap.Is3">
    <Image Width="@Width.Px(300)" Height="@Height.Px(200)" Source="@($"data:image/png;base64,{Item.Image}")" class="rounded-5"></Image>
    <div class="text-wrap">
        <span class="fs-3 fw-bold text-wrap me-2 text-3">@Item.Title</span><Span class="fs-5">by <u>@Item.UserName</u></Span>
    </div>
    <Link Clicked="@CellClick" Stretched class="cursor-pointer">
    </Link>
</Div>