@page "/write"
@inherits ComponentBase
@implements IDisposable

@attribute [Authorize(Roles = Roles.User)]

<PageTitle>Write</PageTitle>

<Validations @ref="_validations" Mode="ValidationMode.Manual" Model="@_addBlogModel">
    <Div class="d-flex flex-column p-5">
        <Validation>
            <Field Class="mb-3">
                <FieldLabel>Title</FieldLabel>
                <FieldBody>
                    <TextEdit @bind-Text="_addBlogModel.Title">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </FieldBody>
            </Field>
        </Validation>
        <Field Class="mb-3">
            <FieldBody>
                @if (_addBlogModel.Image != null)
                {
                    <div class="d-flex justify-content-center align-items-center">
                        <Figure Size="FigureSize.Is512x512">
                            <FigureImage Width="@Width.Px(512)"
                                         Height="@Height.Px(512)"
                                         Source="@($"data:image/png;base64,{Convert.ToBase64String(_addBlogModel.Image)}")"
                                         Rounded>
                            </FigureImage>
                        </Figure>
                    </div>
                }
                <FilePicker class="rounded-pill" Upload="@OnImageUploaded" ShowMode="FilePickerShowMode.List" Filter="image/*">
                    <FileTemplate>
                        <ListGroup Class="b-file-picker-files" Margin="Margin.Is2.OnY">
                            <ListGroupItem @key="context.File.Id" Class="b-file-picker-file">
                                @context.File.Name - @context.File.Status
                            </ListGroupItem>
                        </ListGroup>
                    </FileTemplate>
                </FilePicker>
            </FieldBody>
        </Field>
        <Validation>
            <Field Class="mb-3">
                <FieldLabel>Blog category</FieldLabel>
                <FieldBody>
                    <SelectList TItem="string"
                                TValue="string"
                                Data="@_blogCategories"
                                TextField="@(item => item)"
                                ValueField="@(item => item)"
                                @bind-SelectedValue="@_addBlogModel.BlogCategoryName"
                                DefaultItemText="Choose blog category">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </SelectList>
                </FieldBody>
            </Field>
        </Validation>
        <Field Class="mb-3">
            <FieldLabel>Description</FieldLabel>
            <FieldBody>
                <RichTextEdit @ref="_richTextEditRef"
                              Theme="RichTextEditTheme.Snow"
                              ContentChanged="@OnContentChanged"
                              PlaceHolder="Type your post here..."
                              SubmitOnEnter="false"
                              ToolbarPosition="Placement.Bottom"
                              Background="Background.Light"
                              TextColor="TextColor.Dark">
                    <Editor> </Editor>
                    <Toolbar>
                        <RichTextEditToolbarGroup>
                            <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                            <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                            <RichTextEditToolbarButton Action="RichTextEditAction.Underline" />
                            <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                <RichTextEditToolbarSelectItem Value="small" />
                                <RichTextEditToolbarSelectItem Selected />S
                                <RichTextEditToolbarSelectItem Value="large" />
                                <RichTextEditToolbarSelectItem Value="huge" />
                            </RichTextEditToolbarSelect>
                            <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                            <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                            <RichTextEditToolbarSelect Action="RichTextEditAction.Font">
                                <RichTextEditToolbarSelectItem />
                                <RichTextEditToolbarSelectItem Value="serif"/>
                                <RichTextEditToolbarSelectItem Value="monospace" />
                            </RichTextEditToolbarSelect>
                        </RichTextEditToolbarGroup>
                    </Toolbar>
                </RichTextEdit>
            </FieldBody>
        </Field>
        <Field Class="d-flex justify-content-center">
            <Button TextWeight="TextWeight.Bold"
                    Clicked="@AddBlogAsync"
                    TextColor="TextColor.Dark"
                    Color="Color.Light"
                    TextSize="TextSize.ExtraLarge"
                    Class="rounded-4">
                Add blog
            </Button>
        </Field>
    </Div>
</Validations>

<AuthorizeView Roles="@Roles.Admin">
    <Authorized>
        <div class="add-button">
            <Button Color="Color.Secondary"
                    TextColor="TextColor.Light"
                    TextWeight="TextWeight.Bold"
                    Class="rounded-pill"
                    Clicked="@ShowModalAsync">
                <Blazorise.Icon Name="@FontAwesomeIcons.Plus" />
            </Button>
        </div>
    </Authorized>
</AuthorizeView>

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Aadaugă categorie de blog</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Blog category</FieldLabel>
                <TextEdit @bind-Text="@_newBlogCategory" Placeholder="Numele categoriei..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModalAsync">Close</Button>
            <Button Color="Color.Primary" Clicked="@AddBlogCategoryAsync">Save</Button>
        </ModalFooter>
    </ModalContent>
</Modal>